@import url(http://fonts.googleapis.com/css?family=Fenix|Righteous);
body {
  font-family: 'Fenix', serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Righteous'; }

.element-invisible {
  display: none; }

.site-title {
  font-family: 'Righteous';
  font-size: 2em; }
  .site-title p {
    margin: 0;
    color: #444;
    padding: .25em;
    border: 1px solid #ccc;
    border-width: 0 0 1px 0; }

.tab-container ul.tabs {
  border: 0; }
  .tab-container ul.tabs li a {
    text-decoration: none;
    color: #444;
    border: 1px solid #ccc;
    padding: .25em .5em;
    top: 1px; }
    .tab-container ul.tabs li a.active {
      background: #fff;
      background: rgba(255, 255, 255, 0.7);
      border: 1px solid #ccc; }

.menu-wrapper ul.menu li a, .menu-wrapper ul.links li a {
  color: #444;
  font-family: 'Righteous';
  text-decoration: none; }
  .menu-wrapper ul.menu li a:hover, .menu-wrapper ul.links li a:hover {
    color: #848484; }

.region.right-column .more {
  font-size: .8em;
  text-transform: uppercase; }

.footer-content {
  font-size: .7em; }

/*# sourceMappingURL=style.css.map */
